{% extends 'admin-base.html.twig' %}

{% block body %}



    <a href="{{ path('category_new') }}" class="btn btn-success">Create a new category</a><hr>

    <h1>Categories list</h1>

    <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id Category</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.idcategory }}</td>
                <td>{{ category.name }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('category_show', { 'idcategory': category.idcategory }) }}">show</a>
                        </li>
                        <li>
                                <a href="{{ path('category_edit', { 'idcategory': category.idcategory }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
