{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <img src="{{ asset('assets/win2.png') }}" class="bandeau" alt="">
</div>

    <nav class="navbar navbar-light  justify-content-between bar-navigation">
        <img src="{{ asset('assets/remmy.png') }}" class="logo" alt="logo remmy">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>

</div>

<div class="container mid-header">
    <div class="row">
        <div class="col-sm hr2">
          LIVRAISON A DOMICILE
        </div>
        <div class="col-sm hr2">
          PAIEMENT SECURISE
        </div>
        <div class="col-sm hr2">
          REMBOURSEMENT SOUS 30 JOURS
        </div>
      </div>
    </div>

    <!--......slide........-->

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100"  src="{{ asset('assets/model/br cuir classy.png') }}" alt="slide 1">
                </div>
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{ asset('assets/model/br cuir classy2.png') }}" alt="slide 2">
                </div>
                <div class="carousel-item active">
                    <img class="d-block w-100"  src="{{ asset('assets/model/br cuir classy3.png') }}" alt="slide 3">
                </div>
                <div class="carousel-item active">
                    <img class="d-block w-100"  src="{{ asset('assets/model/br cuir classy4.png') }}" alt="slide 4">
                </div>
                <div class="carousel-item active">
                    <img class="d-block w-100"  src="{{ asset('assets/model/br cuir classy5.png') }}" alt="slide 5">
                </div>
                <div class="carousel-item active">
                    <img class="d-block w-100"  src="{{ asset('assets/model/br cuir classy6.png') }}" alt="slide 6">
                </div>
                <div class="carousel-item active">
                    <img class="d-block w-100"  src="{{ asset('assets/model/br cuir classy6.png') }}" alt="slide 7">
                </div>
                <div class="carousel-item col-md-4">
                    <img class="d-block w-100" src="{{ asset('assets/model/br cuir classy6.png') }}" alt="slide 87">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <i class="fa fa-chevron-left fa-lg text-muted"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <i class="fa fa-chevron-right fa-lg text-muted"></i>
                <span class="sr-only">Next</span>
            </a>
        </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <!--end slide-->

<div class="container">
    <div class="row">

        <div class="alert alert-secondary border-dark rounded col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <nav class="col-lg-12 border-dark rounded">
                        <ul>
                          <li><a href="">Cuir</a></li>
                        </ul>
                        <ul>
                          <li><a href="">Metal</a></li>
                        </ul>
                  
                          <label for="capacite">Capacité</label>
                          <select class="custom-select" id="capacite" name="capacite" size="1">
                            <option selected>Choisissez capacité</option>
                            <option>5</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                          </select>
                  
                        <label for="prix">Prix</label>
                        <input type="range" class="custom-range" min="0" max="1000" id="prix">
                        <div class="form-group">

                          <label for="dateA">Date d'arrivée</label>

                        </div>
                </nav>
                  
        </div>
        <div class="col-lg-7">
            <div class="alert alert-secondary" role="alert">
                <div class="row">
                   
                {% for product in products %}

                <div class="col-lg-4 mt-5">
                    <div class="card-deck">
                        <div class="card">
                            <img class="card-img-top" src="{{ asset('uploads/images products/' ~ product.image ) }}" alt="photo bracelet">
                            <div class="card-body">
                                <h5 class="card-title text-center">{{ product.name }}</h5>
                                <p class="card-text text-center">{{ product.description }} </p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted text-center">Euro {{ product.price }} <input type="button" class="btn btn-dark" value="ajouter au panier"> </small>

                            </div>
                        </div>
                    </div>
                </div>
                
                {% endfor %}

                </div>
            </div>
            </div>
            <hr>

            <hr>
            <div class=" alert alert-secondary col-lg-2">
                
            </div>

            <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item bg-secondary">Se eliminó</li>
                        <li class="list-group-item">bootstrap.min.css de Material Design</li>
                        <li class="list-group-item">bootstrap.min.js de Material Design</li>
                        <li class="list-group-item border border-0"> </li>
                        <li class="list-group-item bg-secondary">Se arregló</li>
                        <li class="list-group-item">bootstrap.min.css para Material Design</li>
                        <li class="list-group-item">bootstrap.min.js para Material Design</li>
                        <li class="list-group-item">mdb.min.css</li>
                        <li class="list-group-item">mdb.min.js</li>
                        <li class="list-group-item">jarallax.js</li>
                        <li class="list-group-item">jarallax-video.js, tarda en iniciar.. Aun no se la razón</li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="list-group">
                        <li class="list-group-item bg-secondary">It is eliminated</li>
                        <li class="list-group-item">bootstrap.min.css from Material Design</li>
                        <li class="list-group-item">bootstrap.min.js from Material Design</li>
                        <li class="list-group-item border border-0"> </li>
                        <li class="list-group-item bg-secondary">Se arregló</li>
                        <li class="list-group-item">bootstrap.min.css for Material Design</li>
                        <li class="list-group-item">bootstrap.min.js for Material Design</li>
                        <li class="list-group-item">mdb.min.css</li>
                        <li class="list-group-item">mdb.min.js</li>
                        <li class="list-group-item">jarallax.js</li>
                        <li class="list-group-item">jarallax-video.js, It takes time to start .. I still do not know why</li>
                    </ul>
                </div>
            </div>
            </div>
    </div>
</div>

{% endblock %}