<!doctype html>
<html lang="en.3.33333333333333333333333333333333333333">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <!--asset CSS-->
    <link rel="stylesheet" href="{{ asset('css/general.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ShoppingCar.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/ui.css') }}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('css/retails.css') }}" />

    <!-- Font Awsome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    {% block stylesheets %} {% endblock %}

    <title>{% block title %}Home page Remmy{% endblock %}</title>
  </head>

  <body>
{{dump(app.session)}}
      <div class="container">
        <nav class="navbar navbar-expand-md ">
                <a class="navbar-brand" href="{{ path('homepage') }}">REMMY</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">

            
                    <form class="form-inline my-2 my-lg-0">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            {% if is_granted('ROLE_ADMIN') %}<a class=" btn-sm ml-3" href="{{path('back_office_admin') }}"></i> {{ 'admin'|trans({}, 'FOSUserBundle') }}</a>
                            {% elseif is_granted('ROLE_USER') %}<a class="btn-sm ml-3" href="{{path('fos_user_profile_show') }}"></i> {{ 'profile.show.profile'|trans({}, 'FOSUserBundle') }}</a>{% endif %}
                            <a class="btn-sm ml-3" href="{{ path('fos_user_security_logout') }}"> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                            
                            {% else %}
                                    <a class=" btn-sm ml-3" href="{{ path('fos_user_security_login') }}"> {{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    <a class=" btn-sm ml-3" href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                            {% endif %}                    
                                    <a class="btn-sm ml-3" href=""><i class="fa fa-shopping-cart"></span></i> {{ 'form.shopping_card'|trans({}, 'FOSUserBundle') }}<span class="badge badge-light">5</a>                        
                        </form>
                </div>
        </nav> <hr>
    </div>


        
      {% block body %} {% endblock %}
       

        {% block fos_user_content %}{% endblock %}

    {% block footer %}<!-- Footer -->
    <footer class="page-footer font-small mt-5">
    
            <!-- Footer Links -->
            <div class="container-fluid foot-base">
                <img src="{{ asset('assets/win.png' ) }}" class="foot-bandeau" alt="fond-footer">        
              <!-- Grid row-->
              <div class="row text-center d-flex justify-content-center pt-5 mb-3">
        
                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase text-white">
                    <a href="{{path('aboutPage') }}">{{ 'footer.about us'|trans({}, 'FOSUserBundle') }}</a>
                  </h6>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase text-white">
                    <a href="{{path('cgvPage') }}">{{ 'footer.generals conditions'|trans({}, 'FOSUserBundle') }}</a>
                  </h6>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase">
                    <a href="{{path('contactPage') }}">Contact</a>
                  </h6>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-2 mb-3">
                  <h6 class="text-uppercase">
                    <a href="{{path('sitemapPage') }}">{{ 'footer.site map'|trans({}, 'FOSUserBundle') }}</a>
                  </h6>
                </div>
                <!-- Grid column -->
        
                <!-- Grid column -->
                <div class="col-md-3 mb-5">
                    <form action="" class="form-inline">
                      <div class="form-group mx-sm-3">
                        <input class="form-control " type="search" value="Newsletter" id="example-search-input">
                      </div>
                        <button type="submit" class="btn btn-primary">Souscrire</button>
                    </form>
                </div>

                
                <!-- Grid column -->
        
              </div>
              <!-- Grid row-->
              
              <div class=" text-center">
                  <img src="{{ asset('assets/payplug.png') }}" alt="logo payement visa cb mastercard" class="payment">
                  <img src="{{ asset('assets/paymentlogo_paypal.png') }}" alt="logo paypal" class="payment">      
              </div>


              <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">
        
                <!-- Grid column -->
                <div class="col-md-8 col-12 mt-5 text-light">
                  <p style="line-height: 1.7rem; font-size: 14px; ">Nos bracelets homme ont été sélectionnés pour s'inscrire dans la tendance actuelle. Pour satisfaire les goûts de chacun,
                     le choix est vaste, du plus sobre au plus chamarré. Nous avons fait le choix de créer des modèles alliant tradition et modernité :Pour certains bracelets,
                     les designers ont osé marier le cuir avec des matériaux beaucoup plus modernes comme le fer ou l'acier.
                     Un bon moyen de remettre les bracelets traditionnels au goût du jour !</p>
                </div>
                <!-- Grid column -->
        
              </div>
              <!-- Grid row-->
              <hr class="clearfix d-md-none rgba-white-light" style="margin: 10% 15% 5%;">
        
              <!-- Grid row-->
              <div class="row pb-3">
        
                <!-- Grid column -->
                <div class="col-md-12">
        
                  <div class="text-center justify-content-center mb-md-0 mb-4">
        
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/">
                      <i class="fab fa-facebook-f fa-lg text-white mr-4"> </i>
                    </a>
                    <!-- Twitter -->
                    <a  href="https://twitter.com/">
                      <i class="fab fa-twitter fa-lg text-white mr-4"> </i>
                    </a>
                    <!--Instagram-->
                    <a href="https://www.instagram.com/">
                      <i class="fab fa-instagram fa-lg text-white mr-4"> </i>
                    </a>
                  </div>
        
                </div>
                <!-- Grid column -->
        
              </div>
              <!-- Grid row-->
        
            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018-2019 Copyright:
              <p>Michael Banicles Site NON LUCRATIF (formation professionelle)</p>
            </div>
            <!-- Copyright -->
        
          </footer>
          <!-- Footer -->
        {% endblock footer %}

    {% block javascripts %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ asset('js/caroussel.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>