{% extends 'admin-base.html.twig' %}

{% block body %}
<a href="{{ path('product_new') }}" class="btn btn-success">Create a new product</a><hr>
<h1>All List</h1>

{{dump(request)}}

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Image</th>
                <th>color</th>
                <th>Price</th>
                <th>Total Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>    
        <tbody>

        {# -- Initialisation de la quantité à Zero pour le prochain produit -- #}
        {% set quantity = 0%}
        
        
        {#{{ dump( productsRepo.findBycategoryCategoryIdcategory(2)) }}
        {{ dump( request.query.get('idcategory') )}}#}
            {% if request.query|length > 0 %}
            {% set products = productsRepo.findBycategoryCategoryIdcategory(request.query.get('idcategory')) %}
            {% else %}
            {% set products = productsRepo.findAll() %}
            {% endif %}

        {% for product in products %}
            {{dump(product)}}
            <tr>
                <td>{{ product.idProduct }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td><a href="{{ asset('uploads/images_products/' ~ product.image) }}" ><img src="{{ asset('uploads/images_products/' ~ product.image) }}" class="img_size" alt="remmy product"></a></td>
                <td>color</td>
                <td>{{ product.price }}</td>
                <td>
                    {% for stock in productHasStocksRepo.findByidproduct(product.idproduct) %}
                    {# Boucle sur chaque ligne de #}
                    {% set quantity = quantity + productStocksRepo.findByidstock(stock.idstock)[0].quantity %}
                    {% endfor %}
                    {# Affiche la quantité finale après calcul #}
                    {{ quantity }}
                </td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'idproduct': product.idproduct }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'idproduct': product.idproduct }) }}">edit</a>
                        </li>
                        
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
