{% extends 'admin-base.html.twig' %}

{% block body %}
    <h1>Color</h1>

    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ color.name }}</td>
            </tr>
            <tr>
                <th>Codecolor</th>
                <td>{{ color.codecolor }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ color.description }}</td>
            </tr>
            <tr>
                <th>Idcolor</th>
                <td>{{ color.idcolor }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('color_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('color_edit', { 'idcolor': color.idcolor }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
