{% extends 'admin-base.html.twig' %}

{% block body %}
    <h1>User</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>{{ 'form.gender'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.gender }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.firstname'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.lastname'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.address'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.address }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.zipcode'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.zipCode }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.city'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.country'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>{{ 'profile.show.phone'|trans({}, 'FOSUserBundle') }}</th>
                <td>{{ user.phone }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('admin_user_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('admin_user_edit', { 'id': user.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
