{% extends 'admin-base.html.twig' %}

{% block body %}

<a href="{{ path('size_new') }} " class="btn btn-success">Create a new size</a><hr>

    <h1>Sizes list</h1>

    <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Id Size</th>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for size in sizes %}
            <tr>
                <td>{{ size.idsize }}</td>
                <td>{{ size.name }}</td>
                <td>{{ size.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('size_show', { 'idsize': size.idsize }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('size_edit', { 'idsize': size.idsize }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
           
        </li>
    </ul>
{% endblock %}
