{% extends 'admin-base.html.twig' %}

{% block body %}
    <h1>Stocks list</h1>

    <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Idstock</th>
                <th>Name Products</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for product in productsRepo.findAll() %}
            {% set productstocks = productStocksRepo.findByidstock(productHasStocksRepo.findByidproduct(product.idproduct)) %}
            {% if productstocks|length > 0 %}
            {% for productstock in productstocks %}
            {{dump(productHasStocksRepo.findByidstock(productstock.idstock)[0].idproduct.name)}}
            <tr>
                <td>{{ productstock.idstock }}</td>
                <td>{{productHasStocksRepo.findByidstock(productstock.idstock)[0].idproduct.name}}</td>
                <td>{{ productstock.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productstock_show', { 'idstock': productstock.idstock }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('productstock_edit', { 'idstock': productstock.idstock }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
        {% endfor %}
        {% else %}
            <tr>
                <td>no stock</td>
                <td>{{product.name}}</td>
                <td>No stock</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('productstock_new', {'idproduct': product.idproduct }) }}">Add New Stock</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
    </table>

    <ul>
        <li>
            <a href="{{ path('productstock_new') }}">Create a new productstock</a>
        </li>
    </ul>
{% endblock %}
