{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productstock</h1>

    <table>
        <tbody>
            <tr>
                <th>Idstock</th>
                <td>{{ productstock.idstock }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ productstock.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('productstock_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('productstock_edit', { 'idstock': productstock.idstock }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
