{% extends 'admin-base.html.twig' %}

{% block body %}
    <h1>Order List</h1>
        
            <h3>Idorder</h3> 
            <h3>Creationdate</h3>
            <h3>Lastupdate</h3> 
            <h3></h3> 

            <th>Actions</th>

    <table class="table table-bordered">
        <tbody>
        {% for orderHeader in orderHeaders %}
            <tr>
                <td><a href="{{ path('orderheader_show', { 'idorder': orderHeader.idorder }) }}">{{ orderHeader.idorder }}</a></td>
                <td>{% if orderHeader.creationdate %}{{ orderHeader.creationdate|date('Y-m-d') }}{% endif %}</td>
                <td>{% if orderHeader.lastUpdate %}{{ orderHeader.lastUpdate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('orderheader_show', { 'idorder': orderHeader.idorder }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
